In [1]:
import pandas as pd
from datetime import date
import numpy as np

import bokeh as bk
from bokeh.plotting import figure
from bokeh.layouts import column, row
from bokeh.models import ColumnDataSource, Slider, TextInput
from ipywidgets import interact
from bokeh.io import push_notebook, output_notebook, show
from bokeh.layouts import gridplot

In [2]:
df = pd.read_csv('derived_data/clean_obesity_risk_factors.csv')
df.head()

,yearstart,yearend,locationabbr,locationdesc,datasource,class,topic,question,data_value_unit,data_value_type,...,geolocation,classid,topicid,questionid,datavaluetypeid,locationid,stratificationcategory1,stratification1,stratificationcategoryid1,stratificationid1
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15

In [3]:
df.columns

Index(['yearstart', 'yearend', 'locationabbr', 'locationdesc', 'datasource',
       'class', 'topic', 'question', 'data_value_unit', 'data_value_type',
       'data_value', 'data_value_alt', 'data_value_footnote_symbol',
       'data_value_footnote', 'low_confidence_limit', 'high_confidence_limit',
       'sample_size', 'total', 'age_years_', 'education', 'gender', 'income',
       'race_ethnicity', 'geolocation', 'classid', 'topicid', 'questionid',
       'datavaluetypeid', 'locationid', 'stratificationcategory1',
       'stratification1', 'stratificationcategoryid1', 'stratificationid1'],
      dtype='object')

In [4]:
formatted = df[['yearstart', 'locationabbr', 'questionid', 'data_value', 'stratification1']]
formatted = pd.pivot_table(
    formatted
    , values='data_value'
    , index=['yearstart', 'locationabbr']
    , columns=['questionid', 'stratification1']
    , fill_value=0
)

In [5]:
formatted.values

array([[ 0. ,  0. ,  0. , ..., 35.6, 21.2, 22. ],
       [ 0. ,  0. ,  0. , ...,  0. , 31.6, 32.6],
       [ 0. ,  0. ,  0. , ...,  0. , 26.8, 30.9],
       ...,
       [ 0. ,  0. ,  0. , ...,  0. , 20.9, 20.5],
       [ 0. ,  0. ,  0. , ...,  0. , 24.7, 29.7],
       [ 0. ,  0. ,  0. , ...,  0. , 22.6, 22.4]])

In [6]:
from sklearn.decomposition import PCA

pca = PCA()
pca.fit(formatted.values)
print(pca.explained_variance_ratio_)

[7.06367774e-01 1.22453195e-01 3.00546561e-02 2.49185747e-02
 2.02314277e-02 1.42014141e-02 7.50823333e-03 7.15960396e-03
 6.28179912e-03 6.00602033e-03 4.90753323e-03 4.08771633e-03
 3.24399248e-03 2.85721201e-03 2.39869322e-03 1.98753763e-03
 1.98358501e-03 1.75048073e-03 1.62386757e-03 1.50150867e-03
 1.38706379e-03 1.33543066e-03 1.27970145e-03 1.12820174e-03
 9.60265066e-04 9.48300407e-04 8.51617726e-04 7.85768413e-04
 7.22159725e-04 6.87645234e-04 6.62376114e-04 6.23827172e-04
 5.92498248e-04 5.72255385e-04 5.26220059e-04 5.19076262e-04
 5.00552988e-04 4.77990625e-04 4.57231710e-04 4.49364598e-04
 4.05348202e-04 3.99108293e-04 3.73889097e-04 3.57019185e-04
 3.40111378e-04 3.36741150e-04 3.29875501e-04 3.06926944e-04
 2.95958018e-04 2.83435637e-04 2.75242243e-04 2.62645007e-04
 2.50185430e-04 2.47243432e-04 2.31820323e-04 2.25619549e-04
 2.19125308e-04 2.13416473e-04 2.04901380e-04 2.00331642e-04
 1.97005048e-04 1.92614212e-04 1.84471566e-04 1.82252669e-04
 1.79510568e-04 1.73360786e-04 1.65617758e-04 1.60220131e-04
 1.56955175e-04 1.51480987e-04 1.48836650e-04 1.44263132e-04
 1.41439548e-04 1.36186187e-04 1.31822854e-04 1.26298230e-04
 1.22091624e-04 1.21453902e-04 1.15485649e-04 1.13056756e-04
 1.10142452e-04 1.09898850e-04 1.06486105e-04 1.03141605e-04
 9.99901043e-05 9.52822980e-05 9.35737325e-05 9.17039466e-05
 9.05126094e-05 8.61189606e-05 8.56735883e-05 8.35893796e-05
 8.16916976e-05 7.98724415e-05 7.86156698e-05 7.80006923e-05
 7.57103130e-05 7.27217838e-05 7.04474774e-05 6.93701819e-05
 6.71936030e-05 6.54444602e-05 6.44164040e-05 6.34245940e-05
 6.09466145e-05 5.98500016e-05 5.82667157e-05 5.66996825e-05
 5.55105862e-05 5.48147548e-05 5.40538740e-05 5.29220753e-05
 5.17456996e-05 4.98840889e-05 4.80943376e-05 4.74454531e-05
 4.62048086e-05 4.55368473e-05 4.45158126e-05 4.30989074e-05
 4.19643419e-05 4.18565341e-05 4.01137396e-05 3.92909173e-05
 3.74977615e-05 3.67121241e-05 3.57975895e-05 3.51472199e-05
 3.43615413e-05 3.27541887e-05 3.18906721e-05 3.14917587e-05
 3.05287476e-05 2.89030755e-05 2.86441410e-05 2.81687183e-05
 2.80071467e-05 2.60654234e-05 2.49976640e-05 2.37757946e-05
 2.33298337e-05 2.28924116e-05 2.28230309e-05 2.17221343e-05
 2.11485612e-05 2.08232982e-05 2.06825805e-05 1.99968267e-05
 1.94100998e-05 1.90309082e-05 1.79990940e-05 1.74368719e-05
 1.71008522e-05 1.67405619e-05 1.64787259e-05 1.58569781e-05
 1.47731264e-05 1.46698557e-05 1.39274611e-05 1.37624889e-05
 1.33754431e-05 1.29463649e-05 1.21686356e-05 1.18937527e-05
 1.17459126e-05 1.10124228e-05 1.06919725e-05 1.03782427e-05
 1.02194429e-05 9.63167839e-06 9.16376242e-06 8.95161350e-06
 8.59129260e-06 8.31449054e-06 7.89786013e-06 7.84540831e-06
 7.58856684e-06 7.41234814e-06 7.22679355e-06 7.01621820e-06
 6.63874294e-06 6.54670322e-06 6.19009463e-06 5.84480486e-06
 5.56843138e-06 5.49691475e-06 5.12245797e-06 4.87641216e-06
 4.74709533e-06 4.42586799e-06 4.33528693e-06 4.05012894e-06
 3.89579779e-06 3.73258166e-06 3.46883214e-06 3.33847872e-06
 3.13703459e-06 3.06184044e-06 3.03251175e-06 2.80673170e-06
 2.60653961e-06 2.52663783e-06 2.43175172e-06 2.25383554e-06
 2.17164053e-06 2.03044741e-06 1.96720084e-06 1.83757935e-06
 1.72160825e-06 1.66161574e-06 1.49347831e-06 1.45803575e-06
 1.39875677e-06 1.26916610e-06 1.24493502e-06 1.00353706e-06
 9.37387585e-07 8.87989206e-07 8.31773243e-07 7.75916187e-07
 7.36608309e-07 6.84790985e-07 6.59063090e-07 5.33016886e-07
 5.13579858e-07 4.74168454e-07 3.33052752e-07 3.06095145e-07
 2.78948347e-07 2.47947158e-07 2.06735760e-07 2.01877005e-07
 1.69801471e-07 1.62332188e-07 1.36005312e-07 1.17431776e-07
 9.29659317e-08 7.47181210e-08 5.23042238e-08 4.38460282e-08
 3.66733186e-08 2.87317651e-08 1.87801452e-08 1.51338872e-08
 1.33394984e-08 1.18850447e-08 1.01170437e-08 5.36165637e-09
 3.05555202e-09 2.44311276e-09 1.79913958e-09 6.98168144e-10]

In [44]:
pca.components_[0]

array([ 5.44343040e-02,  5.34313602e-02,  5.22597103e-02,  5.08010221e-02,
        4.65481962e-02,  5.68812286e-02,  5.06760852e-02,  5.36474769e-02,
        5.08626721e-02,  5.40083117e-02,  5.14823570e-02,  4.34171272e-02,
        3.73834978e-02,  3.08125754e-02,  4.18887705e-02,  5.12252733e-02,
        4.66966318e-02,  3.41866119e-03,  5.70812184e-02,  4.53076576e-02,
        6.04267796e-02,  5.71594698e-02,  5.57154516e-02,  4.60674067e-02,
        5.01402819e-02,  1.43062179e-02,  5.21297025e-02,  5.11090857e-02,
        3.36640618e-02,  3.01450569e-02,  2.53051157e-02,  2.21160084e-02,
        1.73001156e-02,  3.42444466e-02,  2.40859156e-02,  2.64425041e-02,
        2.36617999e-02,  2.49024079e-02,  2.48197362e-02,  2.39137250e-02,
        1.77514734e-02,  1.48143207e-02,  1.70445156e-02,  3.06487814e-02,
        2.27212897e-02,  2.05382139e-03,  3.06852740e-02,  3.84689290e-02,
        4.07305967e-02,  4.26949509e-02,  2.91966930e-02,  2.90123896e-02,
        2.12735851e-02,  6.90596809e-03,  2.38560957e-02,  2.58841158e-02,
       -8.24293026e-04, -1.01381049e-03, -2.05057051e-03, -2.79700517e-03,
       -2.20322927e-03, -1.44008631e-03,  2.04168243e-03, -1.93232203e-03,
       -3.31354833e-03, -2.03005622e-03, -1.11285095e-03, -6.59087463e-04,
        8.61688991e-03,  5.31496844e-04, -2.51285668e-03, -4.89820331e-04,
       -2.15255068e-03,  2.96577189e-04, -9.40978765e-04, -7.81137748e-04,
       -4.97969035e-04, -8.61609324e-04, -1.07009534e-03, -2.27870606e-03,
       -2.48570920e-04,  1.33676718e-03, -1.70987405e-03, -1.62012435e-03,
        1.56604405e-04, -9.51827759e-04,  5.64048822e-04,  4.02445076e-04,
        2.66643809e-04,  5.04183036e-04,  4.83151946e-03,  9.84493194e-05,
        1.07004746e-03,  6.34497804e-04,  3.14784252e-04, -9.56038297e-04,
        8.98316654e-03,  6.33556595e-04,  2.95252576e-04, -1.07723236e-03,
        3.05737458e-05, -3.62090996e-04,  2.13619408e-04,  3.39902241e-03,
        7.00758719e-04,  6.67221288e-04,  3.14378778e-04,  1.60243467e-03,
        1.39868856e-03,  2.54169384e-03, -4.36883418e-05,  1.97454985e-04,
        1.21167642e-01,  1.29877907e-01,  1.38988893e-01,  1.46476940e-01,
        1.62920373e-01,  1.46598790e-01,  1.36629751e-01,  1.36389891e-01,
        1.36153592e-01,  1.36809101e-01,  1.39900365e-01,  1.46353283e-01,
        9.35895671e-02,  9.02658217e-02,  1.63809615e-01,  1.32247126e-01,
        1.37373823e-01,  9.41551738e-03,  1.28783844e-01,  1.17655733e-01,
        1.13919535e-01,  1.05278103e-01,  1.43576814e-01,  9.68845880e-02,
        1.47355993e-01,  4.93999081e-02,  1.43527450e-01,  1.40373790e-01,
        4.59291834e-02,  4.95822834e-02,  5.50561973e-02,  6.04419111e-02,
        7.32001520e-02,  7.95428153e-02,  6.28447392e-02,  6.29422956e-02,
        5.67449109e-02,  5.30689859e-02,  5.01352500e-02,  5.04399308e-02,
        4.10648263e-02,  3.84313678e-02,  7.42744712e-02,  5.33649993e-02,
        5.23305140e-02,  4.76081854e-03,  4.85261829e-02,  5.16316485e-02,
        4.18120490e-02,  3.56915873e-02,  6.34905504e-02,  4.56037524e-02,
        5.96144748e-02,  2.26928638e-02,  6.00322794e-02,  5.77805193e-02,
        7.82620875e-02,  8.28845487e-02,  8.78974374e-02,  9.04663913e-02,
        9.88178293e-02,  8.69371386e-02,  8.89450576e-02,  7.61265877e-02,
        7.81882846e-02,  8.34908958e-02,  9.13716506e-02,  1.07577797e-01,
        6.46483172e-02,  4.92263265e-02,  9.85811019e-02,  8.55980815e-02,
        8.35675519e-02,  6.16647411e-03,  8.36774407e-02,  6.98061043e-02,
        7.40723123e-02,  6.98561778e-02,  9.25959430e-02,  5.87373075e-02,
        9.34238664e-02,  3.30729143e-02,  8.94033124e-02,  8.79653419e-02,
        7.32540818e-02,  7.66954892e-02,  8.28096167e-02,  8.91106467e-02,
        1.01495071e-01,  1.22701925e-01,  9.35296957e-02,  9.90840634e-02,
        8.54525551e-02,  7.63207814e-02,  7.11382654e-02,  6.90910331e-02,
        6.33670058e-02,  6.36123911e-02,  1.02944492e-01,  8.04379727e-02,
        7.49749930e-02,  6.71210316e-03,  7.49738310e-02,  8.20059565e-02,
        6.88778511e-02,  6.08238493e-02,  9.61591070e-02,  7.15808428e-02,
        8.58248861e-02,  3.42235937e-02,  8.88704080e-02,  8.52950009e-02,
        3.39876596e-03,  6.45892734e-03,  7.81442606e-03,  8.90980198e-03,
        9.24181701e-03,  6.82945206e-03,  5.77158004e-03,  8.68838201e-03,
        8.10216997e-03,  6.37014346e-03,  3.13214439e-03,  1.39520977e-04,
        4.61275972e-03,  3.41783790e-03,  6.19714160e-03,  3.95858916e-03,
        2.99765839e-03,  5.02180650e-05,  5.40026017e-03,  4.82567179e-03,
       -4.30435331e-03,  9.06376648e-04,  7.63204671e-03,  3.10692142e-03,
        7.48634325e-03, -8.21576433e-04,  7.85529831e-03,  5.27272917e-03])

In [7]:
formatted.shape

(535, 252)

In [8]:
print(pca.explained_variance_ratio_.cumsum())

[0.70636777 0.82882097 0.85887562 0.8837942  0.90402563 0.91822704
 0.92573527 0.93289488 0.93917668 0.9451827  0.95009023 0.95417795
 0.95742194 0.96027915 0.96267785 0.96466538 0.96664897 0.96839945
 0.97002332 0.97152482 0.97291189 0.97424732 0.97552702 0.97665522
 0.97761549 0.97856379 0.97941541 0.98020117 0.98092333 0.98161098
 0.98227336 0.98289718 0.98348968 0.98406194 0.98458816 0.98510723
 0.98560779 0.98608578 0.98654301 0.98699237 0.98739772 0.98779683
 0.98817072 0.98852774 0.98886785 0.98920459 0.98953447 0.98984139
 0.99013735 0.99042079 0.99069603 0.99095867 0.99120886 0.9914561
 0.99168792 0.99191354 0.99213267 0.99234608 0.99255098 0.99275132
 0.99294832 0.99314094 0.99332541 0.99350766 0.99368717 0.99386053
 0.99402615 0.99418637 0.99434332 0.99449481 0.99464364 0.99478791
 0.99492934 0.99506553 0.99519735 0.99532365 0.99544574 0.9955672
 0.99568268 0.99579574 0.99590588 0.99601578 0.99612227 0.99622541
 0.9963254  0.99642068 0.99651426 0.99660596 0.99669647 0.99678259
 0.99686826 0.99695185 0.99703355 0.99711342 0.99719203 0.99727003
 0.99734574 0.99741847 0.99748891 0.99755828 0.99762548 0.99769092
 0.99775534 0.99781876 0.99787971 0.99793956 0.99799783 0.99805453
 0.99811004 0.99816485 0.99821891 0.99827183 0.99832357 0.99837346
 0.99842155 0.998469   0.9985152  0.99856074 0.99860525 0.99864835
 0.99869032 0.99873217 0.99877229 0.99881158 0.99884908 0.99888579
 0.99892159 0.99895673 0.99899109 0.99902385 0.99905574 0.99908723
 0.99911776 0.99914666 0.99917531 0.99920348 0.99923148 0.99925755
 0.99928255 0.99930632 0.99932965 0.99935254 0.99937537 0.99939709
 0.99941824 0.99943906 0.99945974 0.99947974 0.99949915 0.99951818
 0.99953618 0.99955362 0.99957072 0.99958746 0.99960394 0.99961979
 0.99963457 0.99964924 0.99966317 0.99967693 0.9996903  0.99970325
 0.99971542 0.99972731 0.99973906 0.99975007 0.99976076 0.99977114
 0.99978136 0.99979099 0.99980016 0.99980911 0.9998177  0.99982601
 0.99983391 0.99984176 0.99984934 0.99985676 0.99986398 0.999871
 0.99987764 0.99988419 0.99989038 0.99989622 0.99990179 0.99990729
 0.99991241 0.99991728 0.99992203 0.99992646 0.99993079 0.99993484
 0.99993874 0.99994247 0.99994594 0.99994928 0.99995242 0.99995548
 0.99995851 0.99996132 0.99996392 0.99996645 0.99996888 0.99997114
 0.99997331 0.99997534 0.9999773  0.99997914 0.99998086 0.99998253
 0.99998402 0.99998548 0.99998688 0.99998815 0.99998939 0.99999039
 0.99999133 0.99999222 0.99999305 0.99999383 0.99999456 0.99999525
 0.99999591 0.99999644 0.99999695 0.99999743 0.99999776 0.99999807
 0.99999835 0.99999859 0.9999988  0.999999   0.99999917 0.99999933
 0.99999947 0.99999959 0.99999968 0.99999976 0.99999981 0.99999985
 0.99999989 0.99999992 0.99999994 0.99999995 0.99999996 0.99999998
 0.99999999 0.99999999 1.         1.         1.         1.        ]

In [26]:
len(pca.components_[0])

252

In [45]:
pca.n_components_

252

In [46]:
len(pca.components_)

252

In [48]:
len(pca.components_[251])

252

In [27]:
formatted.shape

(535, 252)

In [9]:
plot_data = formatted.reset_index()[['locationabbr', 'yearstart']]\
    .join(
        pd.DataFrame(
            {'PC1': pca.components_[0], 'PC2': pca.components_[1]}
        )
    )
plot_data.head()

/tmp/ipykernel_11/2294269954.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  plot_data = formatted.reset_index()[['locationabbr', 'yearstart']]\

  (locationabbr, )  (yearstart, )       PC1       PC2
0               AK           2011  0.054434  0.175641
1               AL           2011  0.053431  0.171641
2               AR           2011  0.052260  0.168841
3               AZ           2011  0.050801  0.164946
4               CA           2011  0.046548  0.150727

In [10]:
plot_data.columns

Index([('locationabbr', ''), ('yearstart', ''), 'PC1', 'PC2'], dtype='object')

In [11]:
plot_data.columns = ['locationabbr', 'yearstart', 'PC1', 'PC2']
plot_data.head()

  locationabbr  yearstart       PC1       PC2
0           AK       2011  0.054434  0.175641
1           AL       2011  0.053431  0.171641
2           AR       2011  0.052260  0.168841
3           AZ       2011  0.050801  0.164946
4           CA       2011  0.046548  0.150727

In [12]:
from bokeh.palettes import inferno

In [13]:
n_colors = plot_data.locationabbr.nunique() 
color_map = {l:c for l,c in zip(plot_data.locationabbr.unique(), inferno(n=n_colors))}

In [14]:
plot_data['color'] = plot_data.locationabbr.map(color_map)

In [15]:
plot_data.head()

  locationabbr  yearstart       PC1       PC2    color
0           AK       2011  0.054434  0.175641  #000003
1           AL       2011  0.053431  0.171641  #010109
2           AR       2011  0.052260  0.168841  #040314
3           AZ       2011  0.050801  0.164946  #08061F
4           CA       2011  0.046548  0.150727  #0D0828

In [16]:
from bokeh.models import Label, LabelSet

In [24]:
plot_data[plot_data.yearstart == 2017].head()

    locationabbr  yearstart  PC1  PC2    color
320           AK       2017  NaN  NaN  #000003
321           AL       2017  NaN  NaN  #010109
322           AR       2017  NaN  NaN  #040314
323           AZ       2017  NaN  NaN  #08061F
324           CA       2017  NaN  NaN  #0D0828

In [20]:
source = ColumnDataSource(data=dict(
    PC1=plot_data.PC1
    , PC2=plot_data.PC2
    , locationabbr=plot_data.locationabbr
    , color=plot_data.color
))

plot = figure(width=400, 
              height=400, 
              tools="crosshair,pan,reset,save,wheel_zoom,box_zoom", 
              x_axis_label="PC1", 
              y_axis_label="PC2", 
              title="PCA Components");
plot.scatter('PC1','PC2',source=source, fill_color='color', fill_alpha=0.6);
labels = LabelSet(x='PC1', y='PC2', text='locationabbr',
              x_offset=5, y_offset=5, source=source)
plot.add_layout(labels)

p = gridplot([plot],ncols=2, merge_tools=True)
    
def update(y):
    filtered_data = plot_data[plot_data.yearstart == y]
    source.data = dict(
        PC1=filtered_data.PC1
        , PC2=filtered_data.PC2
        , locationabbr=filtered_data.locationabbr
        , color=filtered_data.color
    )
    output_notebook();
    show(p);
    push_notebook();

interact(update, y=(2011,2020), continuous_update=False)

interactive(children=(IntSlider(value=2015, description='y', max=2020, min=2011), Output()), _dom_classes=('wi…

Notes:
- In 2011, they are in like a diagonal line? What does that mean? I'm guessing it means I'm including a variable I shouldn't be...
- In 2012 we've got a few clusters,
       - one includes NC, NJ, DC, FL, MT, CA, ID
       - another includes OK, OH, ME, NY, NM, TX, VA
       - AR, AK far from the rest
- 2013 more clusters
    - one has NC, NM, HI, LA, NH, MT
    - another has SD TX WV, PA
    - third has AK, AR, CA, DC, AZ
- 2014 has a cluster with NJ, NH, HI, NY and more
- 2015 has one with NC, NJ, LA, MD, I wouldn't be surprised if this is the same one we saw in 2014...
- what happens in 2016???